.card__title {
  font-family: 'Montserrat_regular';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  height: 32px;
  margin-bottom: 5px;
}

.card__subtitle {
  font-family: 'Montserrat_regular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #A3B8CC;
  margin-bottom: 24px;
}